body{
    background-color: red;
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
}
@media  screen and (min-width:768px) and (max-width:992px)
{
body{
    background-color:blue;
     grid-template-columns: repeat(2,1fr);
}
    
}
@media  screen and (min-width:992px) and (max-width:1024px)
{
body{
    background-color:green;
     grid-template-columns: repeat(3,1fr);
}    
}
@media screen and (min-width:1024px){
 body{
    background-color:yellow;
     grid-template-columns: repeat(4,1fr);
}    
}